__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
venv/
.idea/
*.user
*.userprefs
*.uic
*.qrc
Archtype/
CustomCounters/
CustomThemes/
*.zip
*.xml
*0.*.py
theme/
Archetype/
build/
dist/
*.AppImage
AppDir/
config.json
Mods/
config/
*.exe
*.spec
BuildInstructionsVexVersion.txt